@page "/user_rate_list"
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Net.Http.Json
@inject IHttpClientFactory ClientFactory
<h1>User Rating List</h1>
<p role="status">User Name:@anime.Name</p>
<ul>
    @foreach (var branch in titles)
    {
        <li>@branch.animeid, @branch.rating</li>
    }
</ul>
@code{
    private animeObject anime = new animeObject {Name = "", titles = new List<title>()};
    
    private IEnumerable<title> titles = Array.Empty<title>();
    private bool getBranchesError;
    private bool shouldRender;
    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            "http://127.0.0.1:5000/rate?user=a");
        request.Headers.Add("Accept", "application/json");
        request.Headers.Add("User-Agent", "HttpClientFactory-Sample");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            anime = await response.Content.ReadFromJsonAsync<animeObject?>();
            titles = anime.titles;
        }
        else
        {
            getBranchesError = true;
        }

        shouldRender = true;
    }
    public class animeObject
    {
        [JsonPropertyName("user")]
        public string Name {get;set;}

        [JsonPropertyName("titles")]
        public List<title> titles {get; set;}
    }

    public class title
    {
        [JsonPropertyName("animeid")]
        public int animeid {get; set;}
        [JsonPropertyName("rating")]
        public int rating {get; set;}
    }


}